<!-- File Name: header.ejs
Name: Christian Aduna
Student ID: 301250889
Date: October 4, 2022 -->

<!-- Header partial -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><% title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>

    <!-- Custom logo -->
    <a href="\"><img src="\images\logo.PNG" alt="CAd X Logo" /></a>
    <br /><br />

    <!-- Navigation bar with Bootstrap -->
    <div class="mx-auto">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">CAd X</a>
                </div>
                <ul class="nav navbar-nav">
                    <% if(title == 'CAd X | Home') { %>
                        <li class="active"><a href="/">Home</a></li>
                    <% } else { %>
                        <li><a href="/">Home</a></li>
                    <% } %>
                    <% if(title == 'CAd X | About Me') { %>
                        <li class="active"><a href="/about">About Me</a></li>
                    <% } else { %>
                        <li><a href="/about">About Me</a></li>
                    <% } %>
                    <% if(title == 'CAd X | Projects') { %>
                        <li class="active"><a href="/projects">Projects</a></li>
                    <% } else { %>
                        <li><a href="/projects">Projects</a></li>
                    <% } %>
                    <% if(title == 'CAd X | Services') { %>
                        <li class="active"><a href="/services">Services</a></li>
                    <% } else { %>
                        <li><a href="/services">Services</a></li>
                    <% } %>
                    <% if(title == 'Business Contacts') { %>
                        <li class="active"><a href="/business/list">Business Contacts</a></li>
                    <% } else { %>
                        <li><a href="/business/list">Business Contacts</a></li>
                    <% } %>
                    <% if(title == 'CAd X | Contact Me') { %>
                        <li class="active"><a href="/contact">Contact Me</a></li>
                    <% } else { %>
                        <li><a href="/contact">Contact Me</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </div>